<h1>Infomation page</h1>
<p>Welcome to our website, this is what Ian and Maureen have done today so far. <br>
We have learnt how to create a webpage, how to configure, addition of pictures, editting</p>